.footer
  span © 2019 Rcong
  .by_farbox
    a(href="https://hexo.io/zh-cn/", target="_blank") 由 Hexo 强力驱动
    span &nbsp;|&nbsp;
    a(href="https://github.com/Ben02/hexo-theme-Anatole", target="_blank") 主题 — Anatole