if theme.musicPlayer
    iframe(frameborder="no" border="0" marginwidth="0" marginheight="0" width=260 height=86 src="//music.163.com/outchain/player?type=2&id=" + theme.musicPlayer + "&auto=1&height=66")